Aws.StepFunctions.ResumeUploader/state-machine.json
{
  "Comment": "Resume Uploader State Machine",
  "StartAt": "UploadResume",
  "States": {
    "UploadResume": {
      "Type": "Task",
      "Resource": "{UploadResume.Arn}",
      "Next": "LookForGithubProfile",
      "Catch": [
        {
          "ErrorEquals": [ "States.ALL" ],
          "Next": "OnFailedToUpload"
        }
      ]
    },
    "LookForGithubProfile": {
      "Type": "Task",
      "Resource": "{LookForGithubProfile.Arn}",
      "Next": "QueueResume",
      "Catch": [
        {
          "ErrorEquals": [ "States.ALL" ],
          "Next": "OnFailedToUpload"
        }
      ]
    },
    "OnFailedToUpload": {
      "Type": "Task",
      "Resource": "{OnFailedToUpload.Arn}",
      "End": true
    },
    "QueueResume": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sqs:sendMessage",
      "Parameters": {
        "QueueUrl": "{Sqs.Url}",
        "MessageBody": {
          "StoredFileUrl.$": "$.StoredFileUrl",
          "GithubProfileUrl.$": "$.GithubProfileUrl"
        }
      },
      "End": true
    }
  }
}
